.banner {
  background-image: url('./assets/flat-art-city.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -2vh;
  height: 50vh;
}

#team{
  background-image: url('./assets/dark-honeycomb.png')
}

.banner-text {
  background-color: rgba(109, 109, 109, 0.609);
}

.asset {
  background-image: url('./assets/undraw_connection_b38q.svg');
  height: 30vh;
}

.services {
  /* width: 100%; */
  height: 20vh
}

.logo {
  border-radius: 50%;
  border: 3px solid black;
  height: 80px;
  width: 80px;
}

.team {}

a {
  color: black;
}
