* {
  overscroll-behavior: none;
}

.banner {
  background-image: url('./assets/flat-art-city.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -2vh;
  height: 70vh;
}

#team {
  background-image: url('./assets/dark-honeycomb.png')
}

.banner-text {
  background-color: rgba(109, 109, 109, 0.809);
  margin-top: 20%;
}

.asset {
  background-image: url('./assets/undraw_connection_b38q.svg');
  height: 30vh;
}

.about-us {
  background-image: url('./assets/qbkls.png');
}

.services {
  height: 200px;
  width: 300px;
  padding: 5%;
  cursor: pointer;
}

.services-click {
  background-color: #5f9ea0bf;
  border-radius: 1%;
}

.services-contact {
  height: 5rem;
  width: 5rem;
  padding: 12%;
  cursor: pointer;
}

.services-contact-click {
  background-color: #5f9ea0bf;
  border-radius: 50%;
}

.logo {
  border-radius: 50%;
  border: 3px solid black;
  height: 80px;
  width: 80px;
}

.team {
  position: relative;
}

.team-info {
  position: absolute;
  top: 0%;
  padding: 25% 5%;
  background-color: rgba(0, 0, 0, 0.623);
  height: 88.2%;
  animation: fadeIn ease .5s;
}

a {
  color: black;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
